[paths]
source =
   src/seaswimconnector
   */site-packages/seaswimconnector

[run]
branch = True
source = seaswimconnector
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
